.ui {
    &__element {
        display: inline-flex;
        flex-direction: column-reverse;
        justify-content: flex-end;
        margin-bottom: 1rem;
        position: relative;
        width: 15rem;

        &--untouch {
            user-select: none;
            cursor: pointer;
        }

        &--noLimit {
            width: inherit;
            min-width: 15rem;
        }

        &--small {
            width: 6.25rem;
        }

        .flex > & {
            margin-bottom: 0;
        }
    }

    &__input {
        border: none;
        background: none;
        border-bottom: 1px solid var(--text-secondary);
        min-width: 15rem;
        color: var(--text-contrast);
        line-height: 1.15;
        width: 100%;
        text-align: left;
        padding: 1px 1.5rem 7px 0;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        
        &--arrow {
            &:after {
                content: '';
                bottom: .75rem;
                right: 1rem;
                position: absolute;
                display: block;
                border: solid var(--color-first);
                transform: rotate(45deg);
                padding: 3px;
                border-width: 0 1px 1px 0;
            }
        }

        &--small {
            min-width: 6.25rem;
            width: 6.25rem;
        }

        &--hidden {
            opacity: 0;
            width: 0;
            height: 0;

            input {
                width: 0px;
                height: 0px;
            }
        }

        &__placeholder {
            color: var(--text-secondary);

            &--text {
                color: var(--text-contrast);
            }
        }

        &:focus,
        &--focus {
            border-bottom: 1px solid var(--color-first);
        }

        &:disabled,
        &--disabled {
            background: transparent;
            opacity: .6;
            pointer-events: none;

            & ~ .app-label {
                color: var(--text-secondary) !important;
                // opacity: .6;
            }
        }
        
        .ui__icon ~ &,
        &--left,
        .ui__icon ~ .app-input > & {
            padding-left: 1.5rem;
        }
    }

    &__checkbox {
        $c: &;
        display: block;
        position: relative;
        padding-left: 30px;
        margin-bottom: 15px;
        color: var(--color-gray);
        cursor: pointer;
        user-select: none;

        &__input {
            position: absolute;
            opacity: 0;
            cursor: pointer;
            height: 0;
            width: 0;
        }

        &__check {
            position: absolute;
            top: 0;
            left: 0;
            height: 20px;
            width: 20px;
            border: 1px solid var(--color-gray);
        }

        &--horizontal {
            display: inline-block;
            padding-bottom: 4px;
            margin-right: 1.5rem;
            margin-bottom: 0;

            &:last-child {
                margin-right: 0;
            }
        }

        &:hover input ~ &__check {
            border: 1px solid var(--color-first);
        }
        
        &:hover input:disabled ~ &__check {
            border: 1px solid var(--color-gray);
        }

        & input:checked {
            & ~ #{$c}__label {
                color: var(--text-contrast);
            }

            & ~ #{$c}__check {
                border: 1px solid var(--color-first);
    
                &:after,
                &:before {
                    display: block;
                }
            }
        }

        & input:disabled ~ &__check,
        & input:disabled ~ &__label {
            opacity: 0.6;
            color: var(--text-secondary);
        }
    
    }
    
    &__icon {
        position: absolute;
        color: var(--color-first);
        bottom: 7px;

        &--right {
            right: 12px;
        }
        
        &.ui__link {
            cursor: pointer;
        }
    }

    &__dropdown {
        position: absolute;
        box-shadow: 0px 0px 20px var(--shadow-minor);
        -webkit-appearance: none;
        border-radius: var(--radius);
        background: var(--bg-main);
        min-width: 15rem;
        max-width: 20rem;
        z-index: 9999;
        overflow: hidden;

        &--unset {
            min-width: unset;

            .ui__dropdown__item {
                white-space: nowrap;
            }
        }

        &__options {
            max-height: 12rem;
            overflow: auto;
        }

        &__item {
            cursor: pointer;
            padding: 8px 20px 8px 20px;
            user-select: none;
            
            &:hover {
                background: var(--color-blue);
                color: var(--color-white);
            }
    
            &--default {
                cursor: text;
            }
    
            &--active {
                background: var(--text-secondary);
                color: var(--color-white);
            }

            &--ticked {
                position: relative;
                color: var(--color-first);
            }

            &--multi {
                display: flex;
                padding-left: 2.5rem;
            }
        }

        &__search {
            border-bottom: 2px solid var(--text-secondary);
            padding: .5rem;
            position: sticky;
            top: 0;
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;

            input {
                border: none;
                background: var(--bg-main);
                color: var(--text-contrast);
            }

            i {
                font-size: 12px;
                color: var(--color-gray);
            }
        }

        &__long {
            border-top: 2px solid var(--text-secondary);
            padding: .5rem;
            display: flex;
            justify-content: space-around;
        }
    }

    &__link {
        color: var(--color-first);
        font-weight: 500;

        &:hover {
            color: var(--color-second);
            cursor: pointer;
        }
    }

    &__row {
        display: flex;
        align-items: center;
        padding: 1rem;
        border-bottom: 1px solid var(--bg-frame);
    }

    &__buttons {
        margin-top: 1rem;
        display: flex;
        justify-content: flex-end;

        & > * {
            margin: 0 1rem;

            &:last-child {
                margin-right: 0;
            }
        }
    }

    &__data {
        padding: 2rem 3rem 1rem 3rem;
        display: grid;
        grid-template-columns: repeat(2, 40%);
        grid-gap: 0 1rem;
        border-bottom: 1px solid var(--text-secondary);

        &--three {
            grid-template-columns: repeat(3, 1fr);
        }

        &:last-child {
            border-bottom: none;
        }
    }

    &__heading {
        font-size: 20px;
        letter-spacing: 0.2px;
        font-weight: 500;
        line-height: 1;
        margin-bottom: 1rem;
    }
}

@media (max-width: 1024px) {
    .ui__data {
        grid-template-columns: 1fr;
        padding: 2rem 2rem 1rem 2rem;
    }
}